
.profile_info .img_profile {
    width: 100%;
    object-fit: cover;
    height: 200px;
    margin-bottom: 1%;
    box-shadow: 5px 4px 15px gray;
}

.profile_info .blog{
    display: flex;
    margin: 2% 0;
}
.blog_img{
    font-size: 1.2rem;
}
.blog_img img{
    box-shadow:4px -3px 10px gray;
}
.blog_info{
    display: flex;
    margin-left: 3%;
    width: 80%;
}
.left{
    width: 25%;
    height: 100%;
    position: relative;
    margin: 0 2px;
    display: flex;
  flex-direction: column;
    overflow:auto;
}
.job{
    margin-top: 10%;
}
.right{
    width: 74%;
    height: 100%;
    margin-left: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.right img{
    position: relative;
    top: 9px;
}
.right .block2 span{
    display: inline-block;
    height: 28px;
    position: relative;
    top: 10px;
}
@media screen and (max-width: 800px){
    .blog_info{
        flex-direction: column;
    }
.left{
    width: 100%;
    align-content: space-around;
}
.right{
    width: 100%;
}
}
