.dialogs {
    background-color: lightgreen;
    height: 60vh;
    display: flex;
    flex-direction: row;
}

.dialogs_items {
    width: 20%;
    margin: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dialogs_items a {
    text-decoration: none;

}

.dialogs_items .active {
    color: dodgerblue;
    font-size: 1.6rem;
}

.dialog {
    margin: 5%;
    font-size: 1.4rem;
    color: snow;
    font-weight: bold;
}

.messages {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.wrapper {
    display: flex;
    align-items: end;
    width: 90%;
}

.message {
    background-color: floralwhite;
    margin-bottom: 2%;
    height: 30px;
    width: 90%;
    padding: 2%;
    border-radius: 44px 0px 44px 0;
    overflow: hidden;
    box-shadow: 5px 5px 5px gainsboro;
}

.message::first-letter {
    margin-left: 3%;
    font-size: larger;
}

.corner {
    width: 0;
    height: 0;
    border-bottom: 15px solid floralwhite;
    border-left: 45px solid transparent;
    margin-bottom: 2%;
}