.header {
    grid-area: h;
    background-color: skyblue;
    box-shadow: -2px 0 8px blue;
    display: flex;
    align-items: center;
    padding-top: 3px;
}

.header img {
    height: 40px;
    width: 70px;
    border-radius: 25px;
    margin-left: 10px;
}

.header .log {
    margin-left: auto;
    width: 15%;
}

.log button {
    background-color: snow;
    color: darkblue;
    border: none;
    box-shadow: 5px -1px 15px cornflowerblue;
    border-radius: 6px;
    font-size: 1.01rem;
    padding: 5px;
    cursor: pointer;
}
.log .but_sign_in{
    margin-right: 10%;
}
 .log .but_sign_up {
    background-color: skyblue;
}
#img_login{
  height: 25px;
    width: 40px;
    margin-right: 10%;
  position: relative;
    top:8px;
}
@media screen and (max-width: 950px) {
    .log button {
        margin-bottom: 5%;
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 820px){
    #img_login{
        top:0;
    }
}