.header {
    grid-area: h;
    background-color:skyblue;
    box-shadow: -2px 0 8px blue;
    display: flex;
    align-items: center;
}

.header img {
    height: 40px;
    width: 70px;
    border-radius: 25px;
    margin-left: 10px;
}
