html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: floralwhite;
}
.App-wrapper{
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 'h h'  'n c';
  width: 1200px;
  margin: 0 auto;
}
.header{
grid-area: h;
  background-color: darkgrey;
}
.header img{
  height: 50px;
}
.nav{
  grid-area: n;
  background-color: darkorange;
}
.profile{
  grid-area: c;
  background-color: yellow;
}
.profile img{
  width: 100%;
  height: 200px;
}