html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: floralwhite;
  font-family: Roboto,sans-serif;
}
.AppWrapper{
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas: 'h h'  'n c';
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}
.content{
  grid-area: c;
  background-color: whitesmoke;
  /*for preloader2 in profile*/
  position: relative;
}

@media screen and (max-width: 800px){
  .AppWrapper{
    grid-template-columns:max-content;
  }
}
