.nav {
    grid-area: n;
    background-color: snow;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    box-shadow: -3px 0px 8px blue;
    overflow: auto;
}

.nav > div {
    padding: 15px 0px;
    font-size: 1.3rem;
}

.nav a {
    text-decoration: none;
    color: dodgerblue;
}

.nav .active {
    color: lightskyblue;
    font-size: 1.5rem;
    font-weight: bold;
}

.friends {
    display: flex;
    justify-content: space-around;
    padding: 0 10px 0 10px;
}

h1 {
    margin: 5% 0 0 0;
    padding: 0;
    color: bisque;
}

